@charset "UTF-8";
section {
  padding: 80px;
}

h3 {
  color: #1B3762;
  font-size: 30px;
  display: inline-block;
  position: relative;
}

h3::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -15px;
  background-color: #A8C550;
  width: 125px;
  height: 3px;
  z-index: 0;
}

.img_home {
  width: 100%;
  height: 100vh;
  background-image: url("../assets/bg-accueil.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 105%;
  margin-bottom: 70px;
  position: relative;
}
.img_home .title_home {
  text-align: center;
  padding-top: 10%;
}
.img_home h1 {
  font-size: 70px;
  color: white;
}
.img_home h2 {
  font-size: 35px;
  color: white;
  padding-top: 20px;
}
.img_home h4 {
  color: white;
  font-size: 30px;
  padding-top: 75px;
}

.about {
  padding: 80px;
}
.about .row {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-flow: row wrap;
}
.about .row .about_txt {
  width: 500px;
  line-height: 35px;
  font-size: 16px;
  padding-top: 60px;
}
.about .row .about_img {
  width: 650px;
  padding-top: 50px;
}
.about .row .about_img .animation_loop {
  max-width: 100%;
}

.objectifs {
  padding: 80px;
}
.objectifs .all_goals {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding-top: 75px;
  background-image: url("../assets/recycle.png");
  background-repeat: no-repeat;
  background-position: center;
  background-position-y: 125px;
  background-size: 35%;
}
.objectifs .all_goals .goal {
  width: 475px;
  padding: 60px 0;
  text-align: center;
}
.objectifs .all_goals .goal p:not(:last-child) {
  text-transform: uppercase;
  color: #1B3762;
  font-size: 25px;
  padding: 10px;
  position: relative;
  display: inline-block;
}
.objectifs .all_goals .goal .title_goal_1::before {
  content: "";
  position: absolute;
  left: 0;
  width: 2%;
  background-color: #A8C550;
  height: 80%;
  top: 0;
}
.objectifs .all_goals .goal .title_goal_1::after {
  content: "";
  position: absolute;
  top: 0;
  height: 5%;
  background-color: #A8C550;
  width: 95%;
  left: 0;
}
.objectifs .all_goals .goal .title_goal_2::before {
  content: "";
  position: absolute;
  right: 0;
  width: 2%;
  background-color: #A8C550;
  height: 80%;
  top: 0;
}
.objectifs .all_goals .goal .title_goal_2::after {
  content: "";
  position: absolute;
  top: 0;
  height: 5%;
  background-color: #A8C550;
  width: 95%;
  right: 0;
}
.objectifs .all_goals .goal .title_goal_3::before {
  content: "";
  position: absolute;
  left: 0;
  width: 2%;
  background-color: #A8C550;
  height: 80%;
  bottom: 0;
}
.objectifs .all_goals .goal .title_goal_3::after {
  content: "";
  position: absolute;
  bottom: 0;
  height: 5%;
  background-color: #A8C550;
  width: 95%;
  left: 0;
}
.objectifs .all_goals .goal .title_goal_4::before {
  content: "";
  position: absolute;
  right: 0;
  width: 2%;
  background-color: #A8C550;
  height: 80%;
  bottom: 0;
}
.objectifs .all_goals .goal .title_goal_4::after {
  content: "";
  position: absolute;
  bottom: 0;
  height: 5%;
  background-color: #A8C550;
  width: 95%;
  right: 0;
}
.objectifs .all_goals .goal .goal_txt {
  font-size: 16px;
  line-height: 30px;
  padding-top: 30px;
}

.dates {
  padding: 80px;
  background-color: #F2F4F6;
}

@media only screen and (max-width: 1024px) {
  section {
    padding: 30px;
  }

  .img_home {
    background-image: none;
    background-color: #0e7766;
  }

  .objectifs .all_goals {
    background-image: none;
  }
  .objectifs .all_goals .goal p:not(:last-child):after {
    content: "";
    position: absolute;
    bottom: 0;
    height: 5%;
    background-color: #A8C550;
  }
}
@media screen and (max-width: 875px) {
  section {
    padding: 20px;
  }

  h3 {
    font-size: 25px;
  }
}
.members {
  background-color: #F2F4F6;
  width: 100%;
}

.card_member {
  width: 425px;
  height: 375px;
  background-color: #fff;
  background: linear-gradient(#f8f8f8, #fff);
  box-shadow: 0 8px 16px -8px rgba(0, 0, 0, 0.4);
  border-radius: 6px;
  position: relative;
  margin: 100px 0;
}
.card_member .header_card {
  position: absolute;
  width: 100%;
  height: 20%;
  background: #BFD1E7;
  transition: height 0.4s;
  overflow: hidden;
  z-index: 2;
  border-radius: 6px 6px 0 0;
}
.card_member .header_card .title_card {
  font-size: 20px;
  color: #1B3762;
  display: inline-block;
  padding: 20px;
  text-transform: uppercase;
}
.card_member .body_card {
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
  padding: 0 25px;
  line-height: 25px;
  display: flex;
  align-items: center;
}

.card_member:hover .header_card {
  height: 100%;
  border-radius: 6px;
}

.header_card .info_survol {
  width: 100%;
  line-height: 25px;
  float: left;
  position: absolute;
  height: 100%;
  top: 75px;
  padding: 20px;
}

.all_cards {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
}

ol {
  list-style: none;
}
ol li {
  line-height: 30px;
}

.img_card {
  position: absolute;
  width: 25%;
  right: 25px;
  top: -50px;
  z-index: 5;
}
.img_card img {
  max-width: 100%;
}

.gouvernance .presentation {
  text-align: center;
  width: 65%;
  margin: 0 auto;
  padding: 120px 0;
}
.gouvernance .presentation p {
  padding-top: 5vh;
  line-height: 35px;
  font-size: 20px;
}
.gouvernance .presentation p b {
  font-size: 20px;
  color: #1B3762;
}
.gouvernance .container-president {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
  padding: 80px 50px;
}
.gouvernance .container-president .img-president {
  width: 30vw;
  padding: 25px;
  display: flex;
  align-items: center;
  background-color: #bfd1e79c;
  border-radius: 12px;
}
.gouvernance .container-president .img-president img {
  width: 100%;
  border-radius: 12px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.gouvernance .container-president .txt-president {
  width: 35vw;
  font-size: 22px;
  text-align: center;
  line-height: 35px;
  margin-top: 8%;
}
.gouvernance .container-president .txt-president .president_name {
  padding-bottom: 10%;
  font-size: 40px;
  color: #1B3762;
}

.sct-vice-presidence {
  background: #F2F4F6;
  position: relative;
  z-index: 0;
}
.sct-vice-presidence .title-vice-presidence {
  font-size: 30px;
  color: #1B3762;
  text-align: center;
  position: relative;
}
.sct-vice-presidence .title-vice-presidence::after {
  content: "";
  background-color: #A8C550;
  height: 2px;
  width: 100px;
  position: absolute;
  left: 45%;
  bottom: -10px;
}

.cards-vices-presidents {
  display: flex;
  justify-content: space-between;
  padding: 130px 0;
  text-align: center;
}
.cards-vices-presidents .vice-presidence {
  width: 250px;
  border-radius: 12px;
  background-color: white;
  padding: 30px 20px;
}
.cards-vices-presidents .vice-presidence .name {
  color: #1B3762 !important;
  font-weight: bold;
  font-size: 20px;
}
.cards-vices-presidents .vice-presidence .img-vice-president {
  width: 80%;
  height: 300px;
  margin: 0 auto;
  padding: 15px 0;
}
.cards-vices-presidents .vice-presidence .img-vice-president img {
  width: 100%;
}
.cards-vices-presidents .vice-presidence .status .syndicat {
  color: #A8C550;
  padding-top: 10px;
}

.contact_sct {
  background-image: url("../assets/bg-contact.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  background-color: #5bacc7;
}
.contact_sct .form {
  width: 85%;
  background-color: rgba(255, 255, 255, 0.808);
  border-radius: 12px;
  margin: 0 auto;
  padding: 50px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.input_info {
  flex-basis: 30%;
}
.input_info div:not(:first-child) {
  padding-top: 40px;
}
.input_info div:first-child {
  padding-top: 20px;
}
.input_info input {
  background: transparent;
  border: none;
  border-bottom: 1px solid grey;
  color: #1B3762;
  width: 100%;
  font-size: 1em;
  padding: 10px;
}

label {
  color: #1B3762;
  text-transform: uppercase;
  padding: 10px;
  line-height: 30px;
}

.message {
  flex-basis: 70%;
  padding: 10px 50px;
}
.message textarea {
  width: 100%;
  height: 300px;
  resize: none;
  padding: 10px;
  border: none;
  border-radius: 8px;
  font-size: 1em;
  margin: 0 auto;
  margin-top: 30px;
}

.gedem_info {
  width: 100%;
  padding: 75px 50px;
  background-color: #F2F4F6;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap-reverse;
  align-items: center;
}

.coordonne {
  flex-basis: 30%;
  padding-left: 75px;
}
.coordonne div {
  padding: 30px 0;
  line-height: 30px;
}
.coordonne div h3 {
  font-size: 28px;
  margin-bottom: 30px;
}

.syndicats {
  line-height: 30px;
  flex-basis: 70%;
  padding: 30px;
}
.syndicats h3 {
  font-size: 28px;
  margin-bottom: 50px;
  text-align: center;
}
.syndicats #map {
  width: 100%;
  height: 400px;
  background-color: red;
}

@media screen and (max-width: 875px) {
  .contact_sct {
    width: 100%;
    background-image: none;
    background-color: #5bacc7;
  }
  .contact_sct .form {
    width: 80%;
    background-color: rgba(255, 255, 255, 0.808);
    border-radius: 12px;
    display: block;
  }

  .message {
    flex-basis: 100%;
    padding: 50px 0;
  }
  .message textarea {
    width: 100%;
    margin-top: 10px;
  }
}
/* TIMELINE
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.timeline {
  white-space: nowrap;
  overflow-x: hidden;
  padding: 100px 0;
}

.timeline ol {
  font-size: 0;
  width: 100vw;
  padding: 250px 0;
  transition: all 1s;
}

.timeline ol li {
  position: relative;
  display: inline-block;
  list-style-type: none;
  width: 200px;
  height: 3px;
  background: #DFDFDF;
}

.timeline ol li:last-child {
  width: 280px;
}

.timeline ol li:not(:first-child) {
  margin-left: 14px;
}

.timeline ol li:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 50%;
  left: calc(100% + 1px);
  bottom: 0;
  width: 12px;
  height: 12px;
  transform: translateY(-50%);
  border-radius: 50%;
  background: #A8C550;
}

.timeline ol li div {
  position: absolute;
  left: calc(100% + 7px);
  width: 280px;
  padding: 15px;
  font-size: 1rem;
  white-space: normal;
  background: white;
}

.timeline ol li div::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 0;
  height: 0;
  border-style: solid;
}

.timeline ol li:nth-child(odd) div {
  top: -16px;
  transform: translateY(-100%);
}

.timeline ol li:nth-child(odd) div::before {
  top: 100%;
  border-width: 8px 8px 0 0;
  border-color: white transparent transparent transparent;
}

.timeline ol li:nth-child(even) div {
  top: calc(100% + 16px);
}

.timeline ol li:nth-child(even) div::before {
  top: -8px;
  border-width: 8px 0 0 8px;
  border-color: transparent transparent transparent white;
}

.timeline .date_event {
  display: block;
  font-size: 1.2rem;
  font-weight: bold;
  color: #1B3762;
  margin-bottom: 8px;
}

/* TIMELINE ARROWS
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.timeline .arrows {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  cursor: pointer;
}
.timeline .arrows i {
  color: #1B3762;
}

.timeline .arrows .arrow__prev {
  margin-right: 50px;
}

.timeline .disabled {
  opacity: 0.5;
}

.timeline .arrows img {
  width: 45px;
  height: 45px;
}

/* GENERAL MEDIA QUERIES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@media screen and (max-width: 599px) {
  .timeline ol,
.timeline ol li {
    width: auto;
  }

  .timeline ol {
    padding: 0;
    transform: none !important;
  }

  .timeline ol li {
    display: block;
    height: auto;
    background: transparent;
  }

  .timeline ol li:first-child {
    margin-top: 25px;
  }

  .timeline ol li:not(:first-child) {
    margin-left: auto;
  }

  .timeline ol li div {
    width: 94%;
    height: auto !important;
    margin: 0 auto 25px;
  }

  .timeline ol li div {
    position: static;
  }

  .timeline ol li:nth-child(odd) div {
    transform: none;
  }

  .timeline ol li:nth-child(odd) div::before,
.timeline ol li:nth-child(even) div::before {
    left: 50%;
    top: 100%;
    transform: translateX(-50%);
    border: none;
    border-left: 1px solid white;
    height: 25px;
  }

  .timeline ol li:last-child,
.timeline ol li:nth-last-child(2) div::before,
.timeline ol li:not(:last-child)::after,
.timeline .arrows {
    display: none;
  }
}
.return-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #a8c55059;
  width: 50px;
  height: 50px;
  display: block;
  opacity: 0;
  transition: opacity 0.5s ease;
  border-radius: 35px;
  z-index: 999;
}

.return-to-top.active {
  opacity: 5;
}

.return-to-top i {
  color: #1B3762;
  left: 17px;
  position: relative;
  top: 15px;
  font-size: 19px;
  transition: all 0.3s ease;
}

.return-to-top:hover {
  background: #a8c550b6;
}

.return-to-top:hover i {
  top: 5px;
}

.scroll-down {
  margin: 0 auto;
  position: absolute;
  left: 49%;
  top: 85%;
}
.scroll-down .fa-chevron-down {
  color: white;
  font-size: 50px;
}

.all_cards {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
}

.card {
  position: relative;
  width: 300px;
  height: 400px;
  margin: 150px 0;
  background: #fff;
  border-radius: 4px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.card::before,
.card::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 6px;
  background: #fff;
  transition: 0.5s;
  z-index: -1;
}

.card:hover::before {
  transform: rotate(20deg);
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
}

.card:hover::after {
  transform: rotate(10deg);
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
}

.card_name {
  padding-top: 15px;
}
.card_name p {
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  color: #1B3762;
}
.card_name p span {
  text-transform: uppercase;
}

.card .imgBx {
  position: absolute;
  top: 50px;
  left: 10px;
  bottom: 10px;
  right: 10px;
  background: #bfd1e79c;
  transition: 0.5s;
  z-index: 1;
}

.card:hover .imgBx {
  bottom: 80px;
}

.card .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card .details {
  position: absolute;
  left: 10px;
  right: 10px;
  bottom: 0px;
  height: 70px;
  text-align: center;
  opacity: 0;
  transition: all 1.5s ease;
}

.card:hover .details {
  z-index: 1;
  opacity: 1;
}

.card .details p {
  margin: 0;
  padding: 0;
  font-weight: 500;
  font-size: 16px;
  color: #777;
}

.card .details p span {
  font-weight: 500;
  font-size: 16px;
  text-transform: uppercase;
  color: #A8C550;
  display: block;
  margin-top: 5px;
}

.button {
  background-color: white;
  border: 2px solid #1B3762;
  text-align: center;
  padding: 10px 20px;
  border-radius: 8px;
  float: right;
  margin-top: 10px;
}
.button input[type=submit] {
  color: #1B3762;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.button:hover {
  background-color: #1B3762;
  border: 2px solid white;
  transition: 0.5s;
}
.button:hover input {
  color: white;
  transition: 0.5s;
}

.footer_row {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 3rem 5rem 1rem;
}

.section_footer_img {
  width: 200px;
}
.section_footer_img .footer_logo {
  width: 200px;
}
.section_footer_img .footer_logo .logo {
  width: 100%;
}

.footer-nav {
  text-align: justify;
}
.footer-nav .footer_ul {
  line-height: 35px;
  text-transform: uppercase;
}
.footer-nav p {
  padding-top: 25px;
  font-size: 14px;
}

.footer_coord {
  text-align: justify;
}
.footer_coord .tkt {
  line-height: 35px;
  padding-bottom: 25px;
  font-size: 14px;
}

@media screen and (max-width: 768px) {
  .footer_row {
    flex-direction: column-reverse;
    align-items: flex-start;
  }
  .footer_row .footer-nav {
    width: 100%;
    padding: 25px 0 25px 25%;
  }
  .footer_row .section_footer_img {
    width: 300px;
    padding: 25px 0 25px 25%;
  }
  .footer_row .footer_coord {
    width: 100%;
    padding: 25px 0 25px 25%;
  }
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 17vh;
  background-color: rgba(255, 255, 255, 0.548);
  padding: 0 50px;
}

.nav-img {
  width: 125px;
}
.nav-img .nav-logo {
  max-width: 100%;
}

.nav-links {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  color: #1B3762;
  text-transform: uppercase;
}
.nav-links a {
  text-decoration: none;
  letter-spacing: 2px;
  font-size: 18px;
  margin-right: 50px;
}

.burger {
  display: none;
  cursor: pointer;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: #464646;
  margin: 5px;
  transition: all 0.3s ease;
}

@media screen and (max-width: 1100px) {
  nav {
    padding: 0 20px;
  }

  .nav-links {
    width: 70%;
  }
  .nav-links a {
    font-size: 16px;
    margin-right: 30px;
  }
}
@media screen and (max-width: 875px) {
  body {
    overflow-x: hidden;
  }

  .nav-links {
    position: absolute;
    z-index: 1;
    width: 100%;
    right: 0px;
    height: 80vh;
    top: 17vh;
    background-color: white;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }
  .nav-links a {
    font-size: 20px;
  }
  .nav-links li {
    opacity: 0;
  }

  .burger {
    display: block;
  }
}
.nav-active {
  transform: translateX(0%);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  scroll-behavior: smooth;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #1B3762;
}

/*# sourceMappingURL=styles.css.map */
