@mixin title-section {
    color: $main-color-blue;
    font-size: $title-size;
    display: inline-block;
    position: relative;
}

@mixin title-section-after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -15px;
    background-color: $secondary-color;
    width: 125px;
    height: 3px;
    z-index: 0;
}

@mixin title-goal {
    text-transform: uppercase;
    color: $main-color-blue;
    font-size: 25px;
    padding: 10px;
    position: relative;
    display: inline-block;
}


// BORDER TITLE GOALS SECTION - BEFORE AFTER 

@mixin title-goal-after-bottom{
    content: '';
    position: absolute;
    bottom: 0;
    height: 5%;
    background-color: $secondary-color;
}

@mixin title-goal-after-top{
    content: '';
    position: absolute;
    top: 0;
    height: 5%;
    background-color: $secondary-color;
}

@mixin title-goal-before-left{
    content: '';
    position: absolute;
    left: 0;
    width: 2%;
    background-color: $secondary-color;
}

@mixin title-goal-before-right{
    content: '';
    position: absolute;
    right: 0;
    width: 2%;
    background-color: $secondary-color;
}




