
$h1-size: 70px;
$color-white: white;
$paddin-section: 80px;
$title-color: #1B3762;
$title-size: 30px;

section{
    padding: $paddin-section;
}

hr{
    background-color: #A8C550;
    height: 3px;
    border: 0;
    width: 200px;
    margin-top: 20px;
}

h3{
    color: $title-color;
    font-size: $title-size;
}


.img_home{
    width: 100%;
    height: 100vh;
    background-image: url('../assets/bg-accueil.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 105%;
    margin-bottom: 70px;

    .title_home{
        text-align: center;
        padding-top: 10%;
    }
    h1{
        font-size: $h1-size;
        color: $color-white;
    }
    h2{
        font-size: 35px;
        color: $color-white;
        padding-top: 20px;
    }
    h4{
        color: $color-white;
        font-size: 30px;
        padding-top: 75px;
    }
}

.about{

    padding: $paddin-section;
    
    .row{
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        padding-top: 50px;
        flex-flow: row wrap;

        .about_txt{
            width: 40%;
            line-height: 35px;
            font-size: 18px;
        }
        .about_img{
            width: 50%;

            .animation_loop{
                max-width: 100%;
            }
        }
    }
}

.objectifs{
    padding: $paddin-section;

    .all_goals{
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        padding: 50px 0;
        background-image: url('../assets/recycle.png');
        background-repeat: no-repeat;
        background-position: center;
        background-position-y: 125px;
        background-size: 35%;

        .goal{
            width: 475px;
            padding: 60px 0;
            text-align: center;

            .goal_txt{
                font-size: 16px;
                line-height: 30px;
                padding-top: 30px;
            }
        }
    }

    .title_goal_1{
        margin: 0 auto;
        width: 150px;
        border-top: solid #A8C550;
        border-left: solid #A8C550;
    }

    .title_goal_2{
        margin: 0 auto;
        width: 150px;
        border-top: solid #A8C550;
        border-right: solid #A8C550;
    }

    .title_goal_3{
        margin: 0 auto;
        width: 150px;
        border-bottom: solid #A8C550;
        border-left: solid #A8C550;
    }

    .title_goal_4{
        margin: 0 auto;
        width: 150px;
        border-bottom: solid #A8C550;
        border-right: solid #A8C550;
    }

    .title_goal_1 p , .title_goal_2 p, .title_goal_3 p, .title_goal_4 p{
        text-transform: uppercase;
        color: $title-color;
        font-size: 25px;
        margin: 10px;
    }
}

.dates{
    padding: $paddin-section;
    width: 100%;
    height: 650px;
    background-color: #F2F4F6;
}