li {
    list-style: none;
}

a {
    text-decoration: none;
}

.header{
    background-color: #ffffff91;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 5rem;
}

.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #101010;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-item {
    margin-left: 5rem;
}

.nav-link{
    font-size: 20px;
    color: $title-color;
    text-transform: uppercase;
}

.nav-link:hover{
    color: rgb(39, 120, 167);
}

.nav-logo {
    width: 8rem;
}

img{
    max-width: 100%;
}

@media only screen and (max-width: 768px) {
    .nav-menu {
        position: absolute;
        top: 5rem;
        left: -100%;
        flex-direction: column;
        background-color: #fff;
        width: 100%;
        transition: 0.3s;
    }

    .nav-menu.active {
        left: 0;
    }

    .nav-item {
        margin: 2.5rem 0;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

}