@import '../abstracts/variable.scss';
@import '../abstracts/mixins.scss';


.img_home{
    height: 100vh;
    padding-bottom: 50px;
    background-image: url('../assets/bg-accueil.jpeg');
    @include bg-placement(cover, center, no-repeat);
    @include flex-el(flex, space-between, column, center, nowrap);

    header{
        width: 100%;
    }

    .title_home{
        text-align: center;
    }
    h1{
        font-size: $h1-size;
        color: $color-white;
    }
    h2{
        font-size: 4.5vh;
        color: $color-white;
        padding-top: 20px;
    }
    h4{
        color: $color-white;
        font-size: 3.5vh;
        padding-top: 50px;

        &:hover{
            text-decoration: underline;
        }
    }
}

.about{
    
    .row{
        width: 100%;
        @include flex-el(flex, center, row, center, wrap);

        .about_txt{
            width: 50%;
            line-height: 35px;
            padding-top: 60px;
        }
        .about_img{
            width: 50%;
            padding-top: 50px;

            .animation_loop{
                max-width: 100%;
            }
        }
    }
}

.objectifs{ 

    .all_goals{
        width: 100%;
        max-width: 1500px;
        background-image: url('../assets/recycle.png');
        @include bg-placement(35%, center, no-repeat);
        @include flex-el(flex, space-evenly, row, flex-start, wrap);
        padding: 75px 0;
        margin: 0 auto;

        .goal{
            width: 35%;
            min-width: 300px;
            text-align: center;
            margin: 60px;
            p:not(:last-child){
                @extend %title-goal;
            }

            .title_goal_1::before{
                @include title-goal-before-left;
                height: 80%;
                top: 0;
            }

            .title_goal_1::after{
                @include title-goal-after-top;
                width: 95%;
                left: 0;
            }
            
            .title_goal_2::before{
                @include title-goal-before-right;
                height: 80%;
                top: 0;
            }

            .title_goal_2::after{
                @include title-goal-after-top;
                width: 95%;
                right: 0;
            }

            .title_goal_3::before{
                @include title-goal-before-left;
                height: 80%;
                bottom: 0;
            }

            .title_goal_3::after{
                @include title-goal-after-bottom;
                width: 95%;
                left: 0;
            }

            .title_goal_4::before{
                @include title-goal-before-right;
                height: 80%;
                bottom: 0;
            }

            .title_goal_4::after{
                @include title-goal-after-bottom;
                width: 95%;
                right: 0;
            }

            .goal_txt{
                line-height: 30px;
                padding-top: 30px;
            }
        }
    }
}

.dates{
    background-color: #F2F4F6;
}

@media only screen and (max-width: 1024px){
    section{
        padding: 30px !important;
    }

    .objectifs{

        .all_goals{

            .goal{
                p:not(:last-child):after{
                    @include title-goal-after-bottom;   
                }
            }
        }
    }   
}

@media screen and (max-width: 768px) {
   
    p{
        font-size: $txt-size-small;
        text-align: justify;
        line-height: 30px;
    }

    .about{
        .row{
            flex-direction: column;

            .about_txt{
                width: 90%;
                text-align: center;
            }
            .about_img{
                width: 90%;
            }
        }
    }

    h3{
        font-size: $title-size-small;
    }
}

@media only screen and (min-width: 1920px){
    section{
        padding: 80px 300px !important;
    }
}