@import '../abstracts/mixins';
@import '../abstracts/variable';

.all_articles{
    @include flex-el(flex, space-evenly, row, center, wrap);
}

.articles_nav{
    @include flex-el(flex, space-between, row, center, wrap);
    margin: 50px 20px;
}
  
.items-list {
    max-width: 90vw;
    margin: 2rem;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 3rem;
    justify-content: center;
    align-content: center;
  
    @media only screen and (max-width: 600px) {
      grid-template-columns: repeat(2, 1fr);
    }
}
  
  
.page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5rem;
    margin: 3rem;
    border-radius: 0.6rem;
    box-shadow: 0 0.8rem 2rem rgba(#5a6181, 0.05);
  
    &__numbers,
    &__btn,
    &__dots {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0.8rem;
        font-size: 1.4rem;
        cursor: pointer;
    }
  
    &__dots {
        width: 2.6rem;
        height: 2.6rem;
        color: var(--greyLight);
        cursor: initial;
    }
  
    &__numbers {
        width: 2.6rem;
        height: 2.6rem;
        border-radius: 0.4rem;
  
        &:hover {
            color: $main-color-blue;
        }
  
        &.active__page {
            color: $main-color-blue;
            background: #a8c55059;
            font-weight: 600;
            border: 1px solid var(--primary);
        }
    }
  
    &__btn {
        color: var(--greyLight);
        pointer-events: none;
  
        &.active {
            color: var(--greyDark);
            pointer-events: initial;
  
            &:hover {
                color: var(--primary);
            }
        }
    }
}