@import '../abstracts/mixins.scss';
@import '../abstracts/variable.scss';

.contact_sct{
    background-image: url('../assets/bg-contact.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    background-color: rgb(91, 172, 199);

    .form{
        width: 85%;
        background-color: rgba(255, 255, 255, 0.808);
        border-radius: 12px;
        margin: 0 auto;
        padding: 50px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
}

.input_info{
    flex-basis: 30%;

    div:not(:first-child){
        padding-top: 40px;
    }

    div:first-child{
        padding-top: 20px;
    }

    input{
        background: transparent;
        border: none;
        border-bottom: 1px solid grey;
        color: $main-color-blue;
        width: 100%;
        font-size: 1em;
        padding: 10px;
    }
}

label{
    color: $main-color-blue;
    text-transform: uppercase;
    padding: 10px;
    line-height: 30px;
}

.message{
    flex-basis: 70%;
    padding: 10px 50px;

    textarea{
        width: 100%;
        height: 300px;
        resize: none;
        padding: 10px;
        border: none;
        border-radius: 8px;
        font-size: 1em;
        margin: 0 auto;
        margin-top: 30px;
    }
}


.gedem_info{
    width: 100%;
    padding: 75px 50px;
    background-color: #F2F4F6;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap-reverse;
    align-items: center;

}

.coordonne{
    flex-basis: 25%;
    padding-left: 75px;

    div{
        padding: 30px 0;
        line-height: 30px;    
        h3{
            font-size: 28px;
            margin-bottom: 30px;
        }
    }
}

.syndicats{
    line-height: 30px;
    flex-basis: 75%;
    padding: 30px;
    h3{
        font-size: 28px;
        margin-bottom: 50px; 
        text-align: center;
    }
    #mapid{
        width: 100%;
        height: 600px;
    }
}


@media screen and (max-width: 875px){
    .contact_sct{
        width: 100%;
        background-image: none;
        background-color: rgb(91, 172, 199);

    
        .form{
            width: 80%;
            background-color: rgba(255, 255, 255, 0.808);
            border-radius: 12px;
            display: block;
        }
    }

    .message{
        flex-basis: 100%;
        padding: 50px 0; 
    
        textarea{
            width: 100%;
            margin-top: 10px;
        }
    }

    .coordonne{
        flex-basis: 100%;
        padding-left: 0;
        display: flex;
        justify-content: space-evenly;
    }

    .syndicats{
        flex-basis: 100%;
        padding: 50px 0;
    }
}

@media screen and (max-width: 875px){

    .contact_sct{
    
        .form{
            width: 100%;
            padding: 30px;
        }
    }

    .coordonne{
        flex-basis: 100%;
        padding-left: 0;
        display: block;
    }
}



