@import '../abstracts/mixins.scss';
@import '../abstracts/variable.scss';

.img_intro{
    width: 650px;
    margin: 50px auto;
    position: relative;

    svg{
        width: 75%;
    }

    &:before{
        content: 'Le GEDEM 77';
        position: absolute;
        color: $secondary-color;
        top: 90px;
        left: 210px;
        font-size: 28px;
    }

    &:after{
        content: 'Elle est dirigée par un Conseil d\'administration composé d\'un Président et de sept Vice-présidents élus pour deux ans par l\'Assemblée générale.';
        position: absolute;
        top: 140px;
        left: 210px;
        line-height: 25px;
        font-size: 16px;
    }

    svg{

        polyline, circle, line{
            opacity: 1;
        }

        .st3{
            stroke-dasharray: 3600px;
            stroke-dashoffset: 3600px;
            animation: anim 3s ease forwards;
        }

        @keyframes anim {
            to{
                stroke-dashoffset: 0;
            }
        }

        .st5{
            stroke-dasharray: 3600px;
            stroke-dashoffset: 3600px;
            animation: anim 10s ease forwards;
        }

        circle{
            animation: appear 1.5s ease-in forwards;
        }

        @keyframes appear {
            from{
                opacity: 0;
            }
            to{
                opacity: 1;
            }
        }
    }
}

.container-president{
    @include flex-el(flex, space-evenly, row, center, nowrap);
    padding: $padding-section + 0 50px;

    .img-president{
        width: 30%;
        padding: 25px;
        display: flex;
        align-items: center;
        background-color: #bfd1e79c;
        border-radius: 12px;

        img{
            width: 100%;
            border-radius: 12px;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
    }
    .txt-president{
        width: 35%;
        font-size: 22px;
        text-align: center;
        line-height: 35px;

        .president_name{
            padding-bottom: 10%;
            font-size: 40px;
            color: $main-color-blue;
        }
    }
}

.sct-vice-presidence{
    background: #F2F4F6;
    position: relative;
    z-index: 0;
    h3{
        margin: 0 auto;
    }
}

.cards-vices-presidents{
    display: flex;
    justify-content: space-between;
    padding: 130px 0;
    text-align: center;
}

@media screen and (max-width: 768px) {
    .img_intro{
        width: 600px;
        margin: 50px auto;
        position: relative;
    
        svg{
            width: 75%;
        }
    
        &:before{
            font-size: 23px;
            top: 100px;
            left: 180px;
        }
    
        &:after{
            font-size: 14px;
            top: 130px;
            left: 180px;
            width: 350px;
        }
    
    }
}

@media screen and (max-width: 376px) {
    .img_intro{
        width: 500px;
        margin: 50px auto;
        position: relative;
    
        svg{
            width: 75%;
        }
    
        &:before{
            font-size: 20px;
            top: 70px;
            left: 130px;
        }
    
        &:after{
            font-size: 12px;
            top: 100px;
            left: 130px;
            line-height: 20px;
            width: 250px;
        }
    
    }
}


