@import '../abstracts/variable.scss';
@import '../abstracts/mixins.scss';

section{
    padding: $padding-section;
}

h3{
    @include title-section;

}

h3::after{
    @include title-section-after;
}

.img_home{
    width: 100%;
    height: 100vh;
    background-image: url('../assets/bg-accueil.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 105%;
    margin-bottom: 70px;
    position: relative;

    .title_home{
        text-align: center;
        padding-top: 10%;
    }
    h1{
        font-size: $h1-size;
        color: $color-white;
    }
    h2{
        font-size: 35px;
        color: $color-white;
        padding-top: 20px;
    }
    h4{
        color: $color-white;
        font-size: 30px;
        padding-top: 75px;
    }
}

.about{
    
    .row{
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;

        .about_txt{
            width: 50%;
            line-height: 35px;
            padding-top: 60px;
        }
        .about_img{
            width: 50%;
            padding-top: 50px;

            .animation_loop{
                max-width: 100%;
            }
        }
    }
}

.objectifs{ 

    .all_goals{
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        padding-top: 75px;
        background-image: url('../assets/recycle.png');
        background-repeat: no-repeat;
        background-position: center;
        background-position-y: 125px;
        background-size: 35%;

        .goal{
            width: 475px;
            padding: 60px 0;
            text-align: center;

            p:not(:last-child){
                @include title-goal;
            }

            .title_goal_1::before{
                @include title-goal-before-left;
                height: 80%;
                top: 0;
            }

            .title_goal_1::after{
                @include title-goal-after-top;
                width: 95%;
                left: 0;
            }
            
            .title_goal_2::before{
                @include title-goal-before-right;
                height: 80%;
                top: 0;
            }

            .title_goal_2::after{
                @include title-goal-after-top;
                width: 95%;
                right: 0;
            }

            .title_goal_3::before{
                @include title-goal-before-left;
                height: 80%;
                bottom: 0;
            }

            .title_goal_3::after{
                @include title-goal-after-bottom;
                width: 95%;
                left: 0;
            }

            .title_goal_4::before{
                @include title-goal-before-right;
                height: 80%;
                bottom: 0;
            }

            .title_goal_4::after{
                @include title-goal-after-bottom;
                width: 95%;
                right: 0;
            }

            .goal_txt{
                line-height: 30px;
                padding-top: 30px;
            }
        }
    }
}

.dates{
    background-color: #F2F4F6;
}

@media only screen and (max-width: 1024px){
    section{
        padding: 50px;
    }

    .about{
        .row{
            flex-direction: column;

            .about_txt{
                width: 80%;
                text-align: center;
            }
            .about_img{
                width: 70%;
            }
        }
    }

    .objectifs{

        .all_goals{
            background-image: none;

            .goal{
                p:not(:last-child):after{
                    @include title-goal-after-bottom;   
                }
            }
        }
    }   
}

@media screen and (max-width: 768px) {
    p{
        font-size: $txt-size-small;
    }

    .img_home{
        background-image: url('../assets/bg_mobile.png');
        background-color: $main-color-blue;

        .title_home{
            padding-top: 20%;
        }
        h1{
            font-size: 32px;
        }
        h2{
            font-size: 25px;
        }
        h4{
            font-size: 22px;
        }
    }
    h3{
        font-size: $title-size-small;
    }
}