@import '../abstracts/mixins.scss';
@import '../abstracts/variable.scss';

.button{
    width: 175px;
    margin: 10px auto;
    background-color: white;
    border: 2px solid $main-color-blue;
    text-align: center;
    padding: 10px 20px;
    border-radius: 8px;

    input[type="submit"], a{
        color: $main-color-blue;
        border: none;
        background-color: transparent;
        cursor: pointer;
    }

    &:hover{
        background-color: $main-color-blue;
        border: 2px solid white;
        transition: 0.5s;
            
        input, a{
            color: white;
            transition: 0.5s ease-in;
        }
    }
}