@import '../abstracts/mixins.scss';
@import '../abstracts/variable.scss';


.all_cards{
    display: flex;
    justify-content: space-evenly;
    flex-flow: row wrap;
}

.card_presidence{
    position: relative;
    width: 275px;
    height: 350px;
    margin: 0 0 100px;
    background: #fff;
    border-radius: 4px;
    box-shadow:0 2px 10px rgba(0,0,0,.2);
}

.card_presidence::before,
.card_presidence::after{
    content:"";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 6px;
    background: #fff;
    transition: 0.5s;
    z-index:-1;
}

.card_presidence:hover::before{
    transform: rotate(10deg);
    box-shadow: 0 2px 20px rgba(0,0,0,.2);
}

.card_presidence:hover::after{
    transform: rotate(5deg);
    box-shadow: 0 2px 20px rgba(0,0,0,.2);
}

.card_name{
    padding-top: 15px;
    p{
        text-align: center;
        font-size: 16px;
        font-weight: 600;
        color: $main-color-blue;
        span{
            text-transform: uppercase;
        }
    }
}

.card_presidence .imgBx{
    position: absolute;
    top: 50px;
    left: 10px;
    bottom: 10px;
    right: 10px;
    background: #bfd1e79c;
    transition: 0.5s;
    z-index: 1;
}

.card_presidence:hover .imgBx{
    bottom: 80px;
}
  
.card_presidence .imgBx img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
  
.card_presidence .details{
    position: absolute;
    left: 10px;
    right: 10px;
    bottom: 0px;
    height: 70px;
    text-align: center;
    opacity: 0;
    transition: all 1.5s ease;
}

.card_presidence:hover .details{
    z-index: 1;
    opacity: 1;
}
  
.card_presidence .details p{
    margin: 0;
    padding: 0;
    font-weight: 500;
    font-size: 16px;
    color: #777;
} 

.card_presidence .details p span{
    font-weight: 500;
    font-size: 16px;
    text-transform: uppercase;
    color: $secondary-color;
    display: block;
    margin-top: 5px;
} 
