$padding-section: 80px;

$main-color-blue: #1B3762;
$secondary-color: #A8C550;
$color-white: white;

$h1-size: 70px;
$txt-size: 16px;
$txt-size-small: 14px;

$title-size: 30px;
$title-size-small: 25px;
